version: "3.9"

services:

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ./nginx.conf/auth-service.com.conf:/etc/nginx/conf.d/default.conf
      - letsencrypt-data:/etc/letsencrypt
    depends_on:
      - auth-service
    networks:
      - microservices-net

  auth-service:
    image: yousef2005/auth-service:latest
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo-auth
    networks:
      - microservices-net

  mongo-auth:
    image: mongo:latest
    volumes:
      - mongo-auth-data:/data/db
    networks:
      - microservices-net 

volumes:
  mongo-auth-data:
  letsencrypt-data:

networks:
  microservices-net:
    driver: bridge