apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-config
data:
  PORT: "5000"
  GOOGLE_CLIENT_ID: "869897818846-em5dbardq45vj5a08u67303kidl8kngo.apps.googleusercontent.com"
  GOOGLE_CALLBACK_URL: "http://localhost:5000/api/auth/google/callback"
