name: Node.js CI with Docker + Atlas MongoDB

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install


     # Lint Step
    - name: Lint code
      run: npm run lint
 
    # Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build and Push Docker image
    - name: Build and Push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          yousef2005/auth-service:latest
          yousef2005/auth-service:${{ github.sha }}
          yousef2005/auth-service:1.0.${{ github.run_number }}
    - name: Setup Kubernetes cluster with kind
      run: |
        sudo apt-get update && sudo apt-get install -y docker.io
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.25.0/kind-linux-amd64
        chmod +x ./kind
        sudo mv ./kind /usr/local/bin/kind
        kind create cluster --name test-cluster
    
    - name: Apply Kubernetes manifests
      run: |
        kubectl apply -f k8s/

